<div class="wrap">
<div class="_wrap2">
  <hr>
  <h2 class="h1 text-center m-t-1">Cennik</h2>
  <p class="p1 m-t-4">
    Pierwsze pojedyncze wejście na wybrane zajęcia to koszt jedynie:
  </p>
  <span class="p1 bold m-t-2">9999 PLN</span>
  <hr>

  <div class="_container text-center">
    <p class="p-t-4 p-b-4">
      Karnet pierwsze wejście próbne
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet jedno wejście
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet 4 wejścia
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet 8 wejść + Ix Sala Open + Ix dowolne zajęcia
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet 12 wejść + 2x Sala Open + Ix dowolne zajęcia
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) +
      4x Sala Open + Indywidualny wynajem sali Ih w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
  </div>

  <h2 class="h2">Tabela 2</h2>
  <div class="_container text-center">
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
    <p class="p-t-4 p-b-4">
      Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open +
      Indywidualny wynajem sali 1h w miesiącu
    </p>
    <span>40 PLN</span>
  </div>
</div>
</div>
