<div class="wrap">
    <h2 class="h1">Cennik</h2>
    <p class="p1 m-t-4">Pierwsze pojedyncze wejście na wybrane zajęcia to koszt jedynie:</p>
    <span class="p1 bold m-t-2">9999 PLN</span>


    <div class="_container">
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    <p class="p-t-4 p-b-4">Karnet Open (20 wejść w miesiącu na dowolne zajęcia) + 4x Sala Open + Indywidualny wynajem sali 1h w miesiącu</p><span>40 PLN</span>
    </div>


</div>