._header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ._content {
    height: 120px;

    ._logo {
      width: 150px;
    }

    ._nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    ._link {
      font-size: 1.25rem;
      padding: 30px 0px;
    }
  }
}
