@import "../../../styles/colors.scss";

._accordionItem {
  border-bottom: 1px solid $black;
}
._title {
  cursor: pointer;
  user-select: none;
}
._content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

._rotate {
  transform: rotate(180deg);
}
