<div class="_wraper">
<div class="box m-t-6 m-b-6 text-center">   
    <span class="h1">enoia</span>
    <p class="p1 align">
        Zapoznaj się z naszym wyjątkowym zespołem!<br>
        To wspaniali ludzie z ogromnym 
        doświadczeniem, stanowiący zgraną ekipę,<br>
        w naszym studio poczujesz się jak w domu.
    </p>
</div>
</div>


<div class="_container">
    <div class="_picture-box">
        <img [src]="'../../assets/instructor_picture1.jpg'" alt="Avatar">
    </div>
    <div class="_picture-box">
        <img [src]="'../../assets/instructor_picture1.jpg'" alt="Avatar">
    </div>
    <div class="_picture-box">
        <img [src]="'../../assets/instructor_picture1.jpg'" alt="Avatar">
    </div>
    <div class="_picture-box">
        <img [src]="'../../assets/instructor_picture1.jpg'" alt="Avatar">
    </div>
    <div class="_picture-box">
        <img [src]="'../../assets/instructor_picture1.jpg'" alt="Avatar">
    </div>
</div>
    