<div class="_wraper">
    <div class="m-t-6 text-center">
        <span class="h1 _title">enoia</span>
        <p class="p1 _description">
            Zapoznaj się z naszym wyjątkowym zespołem!<br>
            To wspaniali ludzie z ogromnym
            doświadczeniem, stanowiący zgraną ekipę,<br>
            w naszym studio poczujesz się jak w domu.
        </p>
    </div>
</div>


<div class="_container wrap p-l-10 p-r-10 m-t-6">
    <a class="_picture-box"
       [style.--name]="'Grzegorz Badura'">
        <img [src]="'../../assets/instructor_picture1.jpg'"
             alt="instructor-photo">
        <span>Pan Instruktor 1</span>
    </a>
    <a class="_picture-box"
       [style.--name]="'Badura Grzegorz'">
        <img [src]="'../../assets/instructor_picture1.jpg'"
             alt="instructor-photo">
        <span>Pan Instruktor 2</span>
    </a>
    <a class="_picture-box"
       [style.--name]="'Giorgio Baduri'">
        <img [src]="'../../assets/instructor_picture1.jpg'"
             alt="instructor-photo">
        <span>Pan Instruktor 3</span>
    </a>
    <a class="_picture-box"
       [style.--name]="'Baduri Giorgio'">
        <img [src]="'../../assets/instructor_picture1.jpg'"
             alt="instructor-photo">
        <span>Pan Instruktor 4</span>
    </a>
    <a class="_picture-box"
       [style.--name]="'Grzegorz Bandurio'">
        <img [src]="'../../assets/instructor_picture1.jpg'"
             alt="instructor-photo">
        <span>Pan Instruktor 5</span>
    </a>
</div>
